<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sara.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin_login" />
        <activity android:name=".login_librarian" />
        <activity android:name=".admin_activity" />
        <activity android:name=".addupdel_activity" />
        <activity android:name=".AllbooksActivity" />
        <activity android:name=".librarian_activity" />
        <activity android:name=".viewupdate_activity" />
        <activity android:name=".view_activity" />
        <activity android:name=".update_activity" />
        <activity android:name=".aggiorna_activity" />
        <activity android:name=".delete_activity"></activity>
    </application>

</manifest>